
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "42dot Sans", sans-serif;
}

body{
    background-image:linear-gradient(rgba(128, 128, 128, 0.5),rgba(0, 0, 0, 0.5)), url(assets/imgs/aa.jpg);
}

.ALL{
    z-index: 1;
    display: flex;
    align-items: center ;
    justify-content: center;
    min-height: 100vh;
}

.login-container{
    min-width: 240px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgb(85, 40, 100);
    padding: 20px 20px;
    background: rgb(245, 245, 255);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.login-container .form-title{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
}


.social-login .social-button{
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 6px;
    transition: .25s ease;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    border: 2px solid rgb(85, 40, 100);
    background-color: rgb(245, 245, 255);
}

.social-login .social-button:hover{
    background-color: rgba(85, 40, 100, 0.6);
    transition: .25s;
}


.social-login .social-button .social-icon{
    width: 40px;
}

.login-container .separator{
    position: relative;
    margin: 15px 0px;
    text-align: center;
}

.login-container .separator span{
    background: rgb(245, 245, 255);
    padding: 0 10px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    z-index: 1;
}

.login-container .separator::after{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 100%;
    height: 1.5px;
    background: rgb(85, 40, 100);
}

.login-form .input-wrapper{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.login-form .input-wrapper .input-field {
    height: 100%;
    width: 100%;
    padding: 0 15px 0 45px;
    border-radius: 5px;
    border: 2px solid rgb(85, 40, 100);
    outline: none;
    font-size: 20px;
    transition: .25s ease;
}

.login-form .input-wrapper .input-field:focus{
    border-color: rgba(80, 40, 100, 0.1);
}

.login-form .input-wrapper .input-field::placeholder{
    color:rgb(85, 40, 100);
}

.login-form .input-wrapper i{
    color: rgb(85, 40, 100);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.25s ease;
}

.login-form .input-wrapper i:not(.eye-icon){
    left: 0.9rem;
    pointer-events: none;
}

.login-form .input-wrapper i.eye-icon{
    font-size: 1.25rem;
    cursor: pointer;
    display: none;
    right: 0.9rem;
}

.login-container .forgot-passowrd-link{
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
    width: fit-content;
}

.login-form .login-button{
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 6px;
    transition: .25s ease;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    background-color: rgba(80, 40, 100, 0.5);
    border: 2px solid rgb(245, 245, 255);
    height: 50px;
}

.login-form .login-button:hover{
    background-color: rgb(80, 40, 100);
}

.login-container .signup-text{
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
}

.login-container a{
    text-decoration: none;
    color: rgba(80, 40, 100, 2);
    font-weight: 500;
}

.login-container a:hover{
    text-decoration: underline;
}