@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(assets/Pic2.jpg) no-repeat;
  background-position: center;
  background-size:cover;
}



